*.suo
*.sdf
*.filters
Solution/Common/Debug/
Solution/Common/Test/Debug/
Solution/Common/Test/Log.txt
Solution/Controller/Debug/
Solution/Controller/Log.txt
Solution/Framework/Debug/
*.user
Solution/Framework/Test/Debug/
Solution/World/Debug/World.tlog/
Solution/World/Log.txt
Solution/World/Debug/
*.opensdf
